


        <div class="">
          <h4>URL Shortener  <span class="glyphicon glyphicon-link"></span></h4>
          <h4></h4>

            <div class="row">
                
    <form action="/stories" method="POST" class="col s12">
       <div class="row">
          <div class="input-field" placeholder="Paste a link...">
              <input type="text" id="title" name="title">
              <label for="title">Title</label>
          </div>
       </div>

       <button class="btn left" type="button">SHORTEN</button>

       
                </div>

            </div>
        </div>
