<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Error 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="author" content="Morpheus">
    <meta name="copyright" content="2018, Morpheus">
    <meta name="keywords" content="404, page">
    <meta name="description" content="error 404 page">
    <style media="screen">
    /* @import url('https://fonts.googleapis.com/css?family=Shrikhand'); */
      *{
        margin:0;
        padding:0;
      }
      body{
        text-align: center;
        font-family: 'Shrikhand', cursive;
        
      }
      .container{
        /* background: linear-gradient(225deg,  #fff, #215); */
        height:100vh;
        width: 100vw;
        background: url('https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

      }
      h1{
        background: rgba(50,50,50, 0.7);
        background: url('https://media.giphy.com/media/3o7buijTqhjxjbEqjK/giphy.gif');
        background-attachment: fixed;
        border-bottom: 20px inset #314;
        border-radius: 50%;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 80px;
        font-weight: bolder;
        letter-spacing: 10px;
        padding-top: 20vh;
      }
      .heading{
        color: rgba(218, 196, 238, 0.3);
        background-clip:text;
        -webkit-background-clip: text;
      }
      .brokenHinge{
        display: inline-block;
        transform-origin: 0% 100%;
        color: rgb(168, 128, 248);
        animation: brokenHinge 1.5s linear 1s forwards;
      }
      .textMessage{
        margin-top: 20vh;
        font-weight: lighter;
        padding: 20px;
        color: aqua;
      }
      .tryAgain{
        margin-top: 10px;
        color: aquamarine;
      }


      /*@keyframes brokenHinge {
        0%{transform: rotate(0deg);}
        25%{transform: rotate(30deg);}
        50%{transform: rotate(60deg);}
        70%{transform: rotate(90deg);}
        80%{transform: rotate(120deg);}
        90%{transform: rotate(150deg);}
        100%{transform: rotate(170deg);}
      }*/
      
      @keyframes brokenHinge {
        0%{transform: rotate(0deg);}
        25%{transform: rotate(30deg);}
        50%{transform: rotate(60deg);}
        70%{transform: rotate(90deg);}
        80%{transform: rotate(120deg);}
        90%{transform: rotate(150deg);}
        100%{transform: rotate(170deg);}

      }
    </style>
  </head>
  <body>
    <div class="container">

      <h1 class="heading">40<span class="brokenHinge">0</span></h1>
      <div class="purple-text lighten-2 textMessage">
                {{error}}
        <div class="light-blue-text lighten-2 tryAgain">
          Input your shortname and valid url <span class="grey-text darken-3"> ie https://google.com/ </span> <span class="amber-text darken-3">then </span> <span class="red-text darken-4"> Try Again ! </span> 
        </div>
      </div>
      <a href="/home" class="btn"> Go Back to Home</a>


    </div>
  </body>
</html>