
{{!--   --}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" 
     crossorigin="anonymous" 
     referrerpolicy="no-referrer" />
    
    <title> Url Shortener</title>
</head>
    
    <div class=" col-md-8 col-md-offset-4 ">
          <div class=" row text-center">
            <div class=" col s12 m7 ">
                <h4 class="center">URL Shortener  <span class="glyphicon glyphicon-link"></span></h4>
                
                <form action="/" method="POST" class="col s12">
                    <div class="row">
                        <div class="input-field" >
                            <input type="text" id="name" name="name" placeholder="Give your link a shortname 😄..">
                            <label for="name">Name</label>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="input-field" >
                            <input type="text" id="url" name="url" placeholder="https://www.google.com/">
                            <label for="url">Url</label>
                        </div>
                    </div>

                    <div class="row">
                            <button class="z-depth-2 btn waves-effect waves-light" type="submit">SHORTEN</button>
                    </div>
                    <div class="row">
                         <a class="waves-effect waves-light btn" href="/urls"> Get all registered Urls </a>
                     </div>

            </div>
        </div>

    </div>
      
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="//cdn.ckeditor.com/4.16.1/full/ckeditor.js"></script>
    
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <script>
        

        M.Sidenav.init(document.querySelector('.sidenav'))
        M.FormSelect.init(document.querySelector('#status'))

        CKEDITOR.replace('body', {
            plugins: 'wysiwygarea , toolbar, basicstyles, link'
        })

    </script>