
{{!--   --}}
    
    <div class=" col-md-8 col-md-offset-4 ">
          <div class=" row text-center">
            <div class=" col s12 m7 ">
                <h4 class="center">URL Shortener  <span class="glyphicon glyphicon-link"></span></h4>
                
                <form action="/" method="POST" class="col s12">
                    <div class="row">
                        <div class="input-field" >
                            <input type="text" id="name" name="name" placeholder="Give your link a shortname 😄..">
                            <label for="name">Name</label>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="input-field" >
                            <input type="text" id="url" name="url" placeholder="https://www.google.com/">
                            <label for="url">Url</label>
                        </div>
                    </div>

                    <div class="row">
                            <button class="z-depth-2 btn waves-effect waves-light" type="submit">SHORTEN</button>
                    </div>
                    <div class="row">
                         <a class="waves-effect waves-light btn" href="/urls"> Get all registered Urls </a>
                     </div>

            </div>
        </div>

    </div>
      